* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f9fafc;
}

.logo > img {
    display: block;
    height: 43px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.wrapper {
    max-width: 400px;
    margin: auto;
}

.wrapper > .parent {
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 25px 40px;
    box-shadow: rgb(0 0 0 / 10%) 0 0 10px;
}


.form-control:focus{
    background-color: white!important;
    border: 2px solid #4C9AFF!important;
    box-shadow: 0 0 0!important;
}

.form-group label {
    display: none;
}


.parent .heading {
    text-align: center;
    color: #5E6C84;
    font-size: 16px;
    letter-spacing: -0.01em;
    line-height: 28px;
    margin-top: 10px;
    margin-bottom: 25px;
    font-weight: bold;
}

.btn.btn-primary {
    width: 100%;
    background: #5aac44;
    border: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #5aac44;
    border: none;
    box-shadow: none;
    outline: non!important;
    box-shadow: none!important;
}

.separator {
    text-align: center;
    font-size: 14px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.social ,.signup ,.footer{
    list-style-type:none;
}
.social li {
    
    text-align: center;
    background: #fff;
    color: rgba(0,0,0,0.54);
    box-shadow: rgb(0 0 0 / 20%) 1px 1px 5px 0;
    border-color: transparent;
    text-align: center;
    border-radius: 3px;
    width: 99%;
    height: 39px;
    padding-top: 0;
    margin-bottom: 12px;
    -webkit-transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
    transition: background-color .2s ease-in-out 0s,border-color .2s ease-in-out 0s;
    
}

.social  li a {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    font-family: inherit;
    font-weight: bold;
    color: #505f79;
    padding: 3px;
    height: 32px;
    line-height: 32px;
    position: relative;
}

.social  li a::before {
    position: absolute;
    left: -18px;
    content: "";
    display: block;
    width: 15px;
    height: 32px;
    background-repeat: no-repeat!important;
    background-size: 100% 100%!important;
}

.social  li:nth-child(1) a:before {    
    background: url(img/google.svg);
   
}

.social  li:nth-child(2) a:before {    
    background: url(img/apple.svg); 
    width: 21px!important;
    height: 21px!important;
    left: -22px!important;
  
}

.social li:nth-child(3) a:before {    
    background: url(img/slack.svg);   
}


.social  li:nth-child(4) a:before {    
    background: url(img/microsoft.svg);   
}

.blue {
    color: #0052CC;
}




hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid hsl(0,0%,80%);
    margin: 1em 0;
    padding: 0;
    margin-top:25px;
}

.signup {
    display: flex;
    justify-content: center;
}

.signup li {
    color: #0052CC;
        margin-right: 10px;
        font-size: 14px;
    
}


.privacy {
    padding: 1.5em 0!important;
}

#language-picker {
    margin: auto;
    display: block;
}

.footer-section > img {
    width: 140px;
    margin: auto;
    display: block;
    padding-bottom: 1em;
}


.footer {
    text-align:center;
}
.footer li {
    display: inline;
    font-size: 14px;
    padding-right: 15px;
}