.head {
    text-align: center;
    padding-top: 1em;
}

@media (min-width:768px){
    .carousel-item {
        height: 350px;
        }
}


.carousel-item img {
    object-fit: cover;
}

.carousel-indicators {
    display:none!important;
}

.carousel-caption {
    top: 50% !important;;
    left: 50% !important;;
    transform: translate(-50%,-50%);
}

@media (max-width:767px) {
    .carousel-caption{
        width:90%;
    }
    .carousel-item {
        height: 220px;
        }
        .carousel-control-next, .carousel-control-prev {
z-index:999!important;
        }
}

.icon {
    font-size: 12px;
}

a:hover{
    text-decoration:none!important;
}